@import "mixins.less";
@import "elements.less";
/** ====================================================================================
    Table of Content
    ====================================================================================

   01. Basic Styles
   02. Header
   03. Blog Styles
   04. Widget Sidebars
   05. Extras
   06. Footer
   07. Media Queries
**/


/*  ====================================================================================
    01. Basic STYLES
    ================================================================================= */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { z-index:0; background-color:#000000; }
.top { margin-top:40px; }
.base { margin-bottom:40px; } 

/* Forms */
/* ----------------------------------------------------- */
fieldset { margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select { background: #ddd; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; -ms-transition: background 0.3s; -o-transition: background 0.3s; transition: background 0.3s; border: 0; border-width: 0; outline: none; display: block; margin: 0 0 20px 0; padding: 14px; width: 100%; max-width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
select { padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus { background: #fff; }
textarea { min-height: 60px; }
label,
select { width: 220px; }
input[type="checkbox"] { display: inline; }

/* Content styles */
/* ----------------------------------------------------- */
p.comment-form-comment { margin-bottom:0; padding-bottom:0; }
p.form-submit { margin-bottom:0; padding:0; }
.alignleft { float:left; margin:5px 13px 10px 0; }
.alignright { float:right; margin:5px 0 10px 20px; }
.aligncenter { display:block; margin:5px auto 10px auto; }
.alignleft, .alignright, .aligncenter { .gradient-background(#ffffff, #e8e8e8); padding: 5px; border: 1px solid #fff; outline: 1px solid #ccc; }
img.alignleft:hover, img.alignright:hover, img.aligncenter:hover { background:#f4f4f4; border:1px solid #e8e8e8; outline:1px solid #ccc; }
.hr_pattern { height:1px; margin-top:20px; margin-bottom:20px; background-color:#ccc; }

/*  ====================================================================================
    02. Header
    ================================================================================= */

#main-header .grid_12 {  margin-top:0; color:#fff; position:relative; z-index:9999; /*.transparent-background(#000000, 0.8);*/ }
#main-header.row, #main-header .grid_12 { overflow:visible; }

/* Logo & Tagline */
/* ----------------------------------------------------- */
#logo { float:left; padding: 10px 10px 10px 20px; }
#logo img { vertical-align:middle; }
#logo a:hover { text-decoration:none; }
#tagline { font-family: serif; font-style:italic; margin-left:10px; color:#fff; display:inline-block; vertical-align:middle; }
/* Text logo */
#logo h1 { font-size:37px; line-height:46px; color: #ffffff; font-weight:normal; letter-spacing:-2px; display:inline; vertical-align:middle; }

/* Main Navigation */
/* ----------------------------------------------------- */
#main-nav { position:absolute; top:0; bottom:0; right:0;  z-index:9999; }
#main-nav > div { height:100%; }
/* Navigation toggle button */
#nav-toggle { float:right; display:none; visibility:hidden; margin:15px 15px 0 0;}

/* Dropdown base styles */
/* ----------------------------------------------------- */
ul.dropdown,
ul.dropdown li,
ul.dropdown ul { list-style:none; margin:0; padding:0; }
ul.dropdown { position:relative; /*z-index: 597;*/ }
ul.dropdown li { float:left; zoom:1; }
ul.dropdown li.hover,
ul.dropdown li:hover { position:relative; /*z-index: 599;*/ z-index:600; }
ul.dropdown ul { display:none; visibility:hidden; position:absolute; top:100%; left:0; /*z-index: 598;*/ width:100%; }
ul.dropdown ul li { float:none; }
ul.dropdown ul ul { top:0; left:100%; /*z-index: 600;*/ }
ul.dropdown li:hover > ul { display:block; visibility:visible; }
/* Trigger the sub-menu */
ul.dropdown .last ul { left:auto; right:0; }
/* Avoid the overflow of the last sub-menu */
ul.dropdown li a { position:relative; z-index:650; }

/* Dropdown custom styles */
/* ----------------------------------------------------- */
ul.dropdown {  height:100%; z-index:599; float:right; }
ul.dropdown a { display:block; height:100%; padding:9px 14px 7px 13px; }
ul.dropdown a:link,
ul.dropdown a:visited { text-decoration:none; display:block; outline:0; }
ul.dropdown a:hover {}
ul.dropdown a:active {}
ul.dropdown li { background:none; line-height:100%; height:100%; -webkit-transition:background 0.3s; -moz-transition:background 0.3s; -ms-transition:background 0.3s; -o-transition:background 0.3s; transition:background 0.3s; }
ul.dropdown li:last-child { margin-bottom:0; }
ul.dropdown li:hover {}
/* Current page */
ul.dropdown li.current-menu-item > a,
ul.dropdown li.current-menu-parent > a { font-weight:bold; }
/* Level 1 */
ul.dropdown > li { text-transform:uppercase; vertical-align:middle; display:inline-block; }

/* Level 2 */
ul.dropdown ul { width:150px }
ul.dropdown ul li { text-transform:none; }
ul.dropdown ul li a { padding-top:9px; }
ul.dropdown li ul { text-transform:none; }

.tinynav { text-indent:-9999px; -webkit-appearance: none; display:none; background:transparent; max-width:150px; margin:0; }


/*  ====================================================================================
    03. Blog Styles
    ================================================================================= */

#content.fluid, #content.fluid .grid_12 { width:100% !important; }

/* Posts */
/* ----------------------------------------------------- */
#page-content { margin-bottom:40px; }
.page-title { color:#fff; float:left; margin-bottom:0; }
.hentry { position:relative; margin-bottom:32px; }
.hentry img { /*display:block;*/ vertical-align:bottom; }
.hentry .object { position:relative; overflow:hidden; }
.hentry p:last-child { margin-bottom:0; padding-bottom:0; }
.hentry .entry-title { margin-top:-5px; }
.hentry .entry-title a:hover { text-decoration:none; }
.hentry .entry-title:last-child { margin-bottom:0; }
.hentry > h1, .hentry > h2, .hentry > h3, .hentry > h4, .hentry > h5, .hentry > h6, .hentry > p { color:#fff; text-shadow: 0 1px 0 #000; }
.hentry .entry-date { font-size:11px; font-style:italic; color:#888; }
.hentry .entry-content { margin-bottom:15px; }
a.more-link { color:#d7332f; }
.edit-link a:hover { text-decoration:none; }
.subpages { width:30%; padding:10px 13px; background:transparent; .transparent-background(#ffffff, 0.3); }
.subpages li:last-child { margin-bottom:0; }
.wp-caption-text { padding-top:6px; }

// .hentry .object { overflow:hidden; .border-radius(0 50px 0 0); }

// .header-wrapper, #content, .page-title { -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
//     -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
//         -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
//         -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
//         transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg); }

// #wpadminbar { -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
//     -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
//         -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
//         -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
//         transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); }

/* Caption */
/* ----------------------------------------------------- */
.caption { padding:20px; }
.caption p:last-child, .caption div:last-child { margin-bottom:0; }
.meta.caption { .box-shadow(inset 0px 10px 10px -10px #e9e9e9); font-size:0.8em; background-repeat:no-repeat; background-position:top right; }
.meta.caption p { line-height:1.2em; }
.blog-grid .hentry .caption blockquote { margin:0; }

/* Post formats */
/* ----------------------------------------------------- */
.format-standard .meta.caption { background-image:url('../img/icons/format-standard.png'); }
.format-aside .meta.caption { background-image:url('../img/icons/format-aside.png'); }
.format-audio .meta.caption { background-image:url('../img/icons/format-audio.png'); }
.format-gallery .meta.caption { background-image:url('../img/icons/format-gallery.png'); }
.format-image .meta.caption { background-image:url('../img/icons/format-image.png'); }
.format-link .meta.caption { background-image:url('../img/icons/format-link.png'); }
.format-quote .meta.caption { background-image:url('../img/icons/format-quote.png'); }
.format-video .meta.caption { background-image:url('../img/icons/format-video.png'); }
.format-status .meta.caption { background-image:url('../img/icons/format-status.png'); }

.embedded-content { margin-bottom:-4px; background:url('../img/loading.gif') 50% 50% no-repeat; }
.embedded-content iframe { .transparent-background(#000000, 0.5); }

/* Pagination */
/* ----------------------------------------------------- */
.page-numbers { padding:7px 12px; margin-right:1px; .transparent-background(#ffffff, 0.8); display:block; float:left; text-shadow: 0 1px 0 #fff; }
.page-numbers:hover { background:#fff; text-decoration:none; }
.page-numbers.current { background:#fff; }
#load-more { margin-top:0; }

/* Editor styles */
/* ----------------------------------------------------- */
.page-template-template-custom-php #content { margin-top:13%; }
.page-template-template-custom-php h1 { font-size:68px; line-height:80px; }
.header-alignleft { float:left; clear:both; text-align:left; }
.header-alignright { float:right; clear:both; text-align:right; }
.header-aligncenter { text-align:center; clear:both; margin-left:auto; margin-right:auto; }
.header-alignleft a, .header-alignright a, .header-aligncenter a { color:#d7332f; }
.black-highlight { .transparent-background(#000000, 0.7); padding:15px 20px !important; }
.white-highlight { .transparent-background(#ffffff, 0.9); padding:15px 20px !important; }
// .black-highlight, .white-highlight { word-wrap:break-word; }
.black-text-shadow { text-shadow: 0 1px 0 #000; }
.white-text-shadow { text-shadow: 0 1px 0 #fff; }

/* Comments */
/* ----------------------------------------------------- */
.comments-container { border-top:1px solid #fff; .box-shadow(inset 0px 10px 10px -10px #d1d1d1); margin-top:20px; }
.bypostauthor .object img { border:3px solid #D7332F; }
.comment .object { float:left; margin-right:20px; }
.children { margin:20px 0 0 50px; }
.comment-meta { margin:0; font-size:10px; }
.comment-meta li { display:inline; }
.comment-reply-link { margin-left:10px; }
.comments > .comment { border-top:1px dotted #ccc; margin-top:20px; padding-top:20px; }
.comments > .comment:first-child { border-top:0; margin-top:0; padding-top:0; }


/*  ====================================================================================
    04. Widget Sidebars
    ================================================================================= */

/* Sidebars */
/* ----------------------------------------------------- */
aside.sidebar { /*.transparent-background(#ffffff, 0.9);*/ margin-bottom:20px; }
aside.sidebar .widget { padding:20px; border-top:1px solid #fff; .box-shadow(inset 0px 10px 10px -10px #d1d1d1); /*.transparent-background(#f4f4f4, 0.3);*/ }
aside.sidebar .widget:first-child { box-shadow:none; border-top:none; }
aside.sidebar .widget h3 { margin-top:-5px; }
aside.sidebar .widget ul { margin-bottom:0; }
.widget ul:last-child,
.widget ul li:last-child { margin-bottom:0; }
.horizontal-widgets { margin-top:0; margin-bottom:0; position:relative; }
.horizontal-widgets .widget { padding:20px; }
#before-header { position:relative; z-index:999; overflow-y:visible; }
#before-header .grid_12, #before-header .row { overflow-y:visible; /*overflow-x:hidden;*/ }
.widget_search { margin-top:0; margin-bottom:0; }
.widget_search label { float:left; clear:both; margin-bottom:7px; }
.widget_search input[type="text"] { float:left; clear:left; width:60%; margin:0;  }
.widget_search input[type="submit"] { float:right; width:40%; padding:14px 4px; margin:0; }

.flickr-image { overflow:hidden; display:inline-block; margin:0 4px 0 0; }
.recent-posts { margin-bottom:10px; }
.recent-posts h4 { font-size:14px; margin-bottom:0; }
.recent-posts .object { float:left; margin-right:10px; }
.recent-posts .caption { padding:10px; }
.recent-posts h4, .recent-posts p { margin-left:5px; }
.recent-posts .caption p:last-child { margin-bottom:0; padding-bottom:0; }
.recent-posts span { font-size:10px; font-style:italic; }

#lang_sel { height:auto; }

#social { padding:20px; }

/*  ====================================================================================
    05. Extra
    ================================================================================= */

/* Overlay */
/* ----------------------------------------------------- */
.overlay { position:absolute; top:0; left:0; width:100%; height:100%; display:none; z-index:100; background: transparent no-repeat center center; }
.overlay .caption-inner, .overlay .overlay-inner { display:table; position:absolute; width:100%; height:100%; }
.overlay .caption-content, .overlay .overlay-content { display:table-cell; vertical-align:middle; text-align:center; }
.overlay .overlay-content { padding:20px; color:#fff; }
.overlay .overlay-content h3:last-child { margin-bottom:0; }
.overlay.visible { display:block; }
.overlay.carousel { background-image: url(../img/hover/64_carousel.png); }
.overlay.cart { background-image: url(../img/hover/64_cart.png); }
.overlay.catalogue { background-image: url(../img/hover/64_catalogue.png); }
.overlay.close { background-image: url(../img/hover/64_close.png); }
.overlay.code { background-image: url(../img/hover/64_code.png); }
.overlay.coffee { background-image: url(../img/hover/64_coffee.png); }
.overlay.comments { background-image: url(../img/hover/64_comments.png); }
.overlay.download { background-image: url(../img/hover/64_download.png); }
.overlay.pencil { background-image: url(../img/hover/64_pencil.png); }
.overlay.email { background-image: url(../img/hover/64_email.png); }
.overlay.facebook { background-image: url(../img/hover/64_facebook.png); }
.overlay.faq { background-image: url(../img/hover/64_faq.png); }
.overlay.flickr { background-image: url(../img/hover/64_flickr.png); }
.overlay.gallery { background-image: url(../img/hover/64_gallery.png); }
.overlay.googleplus { background-image: url(../img/hover/64_googleplus.png); }
.overlay.home { background-image: url(../img/hover/64_home.png); }
.overlay.image { background-image: url(../img/hover/64_image.png); }
.overlay.infoi { background-image: url(../img/hover/64_info.png); }
.overlay.key { background-image: url(../img/hover/64_key.png); }
.overlay.link { background-image: url(../img/hover/64_link.png); }
.overlay.lock { background-image: url(../img/hover/64_lock.png); }
.overlay.loudspeaker { background-image: url(../img/hover/64_feedback.png); }
.overlay.loupe { background-image: url(../img/hover/64_search.png); }
.overlay.map { background-image: url(../img/hover/64_map.png); }
.overlay.move { background-image: url(../img/hover/64_move.png); }
.overlay.pie_graph { background-image: url(../img/hover/64_pie_graph.png); }
.overlay.poll { background-image: url(../img/hover/64_poll.png); }
.overlay.refresh { background-image: url(../img/hover/64_refresh.png); }
.overlay.rss { background-image: url(../img/hover/64_rss.png); }
.overlay.settings { background-image: url(../img/hover/64_settings.png); }
.overlay.structure { background-image: url(../img/hover/64_structure.png); }
.overlay.text { background-image: url(../img/hover/64_text.png); }
.overlay.themes { background-image: url(../img/hover/64_themes.png); }
.overlay.thumbnails { background-image: url(../img/hover/64_thumbnails.png); }
.overlay.thumbnails2 { background-image: url(../img/hover/64_thumbnails_2.png); }
.overlay.trash { background-image: url(../img/hover/64_trash.png); }
.overlay.twitter { background-image: url(../img/hover/64_twitter.png); }
.overlay.unlock { background-image: url(../img/hover/64_unlock.png); }
.overlay.upload { background-image: url(../img/hover/64_upload.png); }
.overlay.users { background-image: url(../img/hover/64_users.png); }
.overlay.video { background-image: url(../img/hover/64_video.png); }
.overlay.weather { background-image: url(../img/hover/64_weather.png); }


/* Slides layout */
/* ----------------------------------------------------- */
.fullwidth-slide { height:800px; }
.hentry.fullwidth-slide { position:relative; margin:0; }
// .fullwidth-slide .object { float:left; }
.slide-next { width:58px; height:43px; position:absolute; left:50%; bottom:0; margin-left:-27px; /*border-radius:50%; background:#fff;*/ background:url('../img/slide-next.png') top left no-repeat; cursor:pointer; }
// .slide-content:last-child
// .slide-excerpt { max-width:760px; }
.slide-content, .slide-content .grid_6 { height:100%; }
.slide-content .header-alignleft { margin-bottom:20px; max-width:550px; }
.slide-content .entry-title, .slide-content .entry-title a { font-size:60px; line-height:60px; color:#fff; }
.slide-content p { color:#fff; }
.slides-overlay { position:absolute; top:0; right:0; bottom:0; left:0; z-index:-1; background:url(../img/slides-overlay.png) top left no-repeat; }
.fullheight-wrapper { display:table; width:100%; height:100%; }
.fullheight-content { display:table-cell; vertical-align:middle; }
/* Content animation */
.slide-content {  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-delay: .2s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-duration: 1s;
  -ms-animation-delay: .2s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  -o-animation-duration: 1s;
  -o-animation-delay: .2s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-timing-function: ease;
  animation-fill-mode: both; }


/* Buttons */
/* ----------------------------------------------------- */
.button, a.button, button, input[type="submit"] { border: 0; background-color: #333; color: #fff; font: 13px/13px sans-serif; display: inline-block; padding: 11px; text-align: center; text-decoration: none; text-transform: uppercase; text-shadow: 0 1px 0 #000; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -ms-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; }
.button:hover, a.button:hover, button:hover, input[type="submit"]:hover { background-color: #d7332f; }
.button a { color: #fff; }

.button.big { font-size: 13px; line-height: 13px; padding: 14px; }
.button.small { font-size: 10px; line-height: 11px; padding: 10px 10px 8px 10px; }
.button.mini { font-size: 8px; font-weight:bold; line-height: 9px; letter-spacing: 1px; line-height: 9px; padding: 6px 6px 5px 6px; }
.button.full { width: 100%; display: block; padding: 15px 0; margin-top: 20px; }
.button.micro { font-size: 8px; line-height: 9px; letter-spacing: 1px; line-height: 9px; padding: 3px 3px 2px 3px; }

/* Accordion */
/* ----------------------------------------------------- */
.accordion { position: relative; .transparent-background(#ffffff, 0.8); /*border-top: #444 dotted 1px; border-bottom: #444 dotted 1px;*/ margin-bottom: 20px; }
.accordion-trigger { cursor: pointer; display: block; }
.accordion-trigger:hover { .transparent-background(#ffffff, 0.5); }
.accordion-trigger a { background: url(../img/icons/btn_accordion.png) no-repeat 16px 26px; display: block; outline: 0; padding: 25px 20px 25px 50px; }
.accordion-trigger a:hover { text-decoration: none; }
.accordion-trigger.active a { cursor: default; background-position: 16px -99px; }
.accordion-trigger.active:hover { background: transparent; }
.accordion-content { padding: 0 25px 0 50px; margin: -15px 0 20px 0; }
.accordion-content + .accordion-trigger { border-top: #444 dotted 1px; }
.accordion p:last-child, .accordion div:last-child { margin-bottom:20px; }

/* Tabs */
/* ----------------------------------------------------- */
ul.tabs { margin: 0; padding: 0; list-style: none; /*border-bottom: #444 dotted 1px;*/ }
ul.tabs li { float: left; margin-bottom:0; }
ul.tabs li a { display: block; padding: 10px 15px 8px 15px; text-decoration: none; outline: 0; border-radius:5px 5px 0 0; }
ul.tabs li a:hover { background:#fff; color: #333; }
ul.tabs .active { .transparent-background(#ffffff, 0.8); /*border-top: #444 dotted 1px;*/ /*margin-top: -1px;*/ }
.tabs-content {float: none; display: block; clear: both; margin-bottom: 20px; padding: 10px 15px; .transparent-background(#ffffff, 0.8); /*border-bottom: #444 dotted 1px;*/ }
/* Accordion and Tabs active item */
.active, .active a, a.active { color: #d7332f; }

/* Message boxes */
/* ----------------------------------------------------- */
.info, .success, .warning, .error, .validation { margin: 0 0 10px 0; padding: 15px 10px 15px 50px; background-repeat: no-repeat; background-position: 12px center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.info ul, .success ul, .warning ul, .error ul, .validation ul { margin: 0; }
.info { color: #00529b; background-color: #bde5f8; background-image: url('../img/icons/info.png'); }
.success { color: #4f8a10; background-color: #dff2bf; background-image: url('../img/icons/success.png'); }
.warning { color: #9f6000; background-color: #feefb3; background-image: url('../img/icons/warning.png'); }
.error { color: #d8000c; background-color: #ffbaba; background-image: url('../img/icons/error.png'); }

/* Icons 
   Usage: <i class="icon-date"></i> */
/* ---------------------------------------------------- */
[class^="icon-"], [class*=" icon-"] { display: inline-block; vertical-align: middle; line-height: 30px; width: 30px; height: 30px; background-repeat: no-repeat; background-position: 5px 6px; } .icon-add { background-image: url(../img/icons/lists/dark/add.png); }
.icon-arrow1e { background-image: url(../img/icons/lists/dark/arrow1_e.png); }
.icon-arrow1se { background-image: url(../img/icons/lists/dark/arrow1_se.png); }
.icon-arrow2e { background-image: url(../img/icons/lists/dark/arrow2_e.png); }
.icon-arrow3e { background-image: url(../img/icons/lists/dark/arrow3_e.png); }
.icon-check { background-image: url(../img/icons/lists/dark/check.png); }
.icon-close { background-image: url(../img/icons/lists/dark/close.png); }
.icon-forward { background-image: url(../img/icons/lists/dark/forward.png); }
.icon-stop { background-image: url(../img/icons/lists/dark/stop.png); }
.icon-subtract { background-image: url(../img/icons/lists/dark/subtract.png); }

.icon-add-light { background-image: url(../img/icons/lists/light/add.png); }
.icon-arrow1e-light { background-image: url(../img/icons/lists/light/arrow1_e.png); }
.icon-arrow1se-light { background-image: url(../img/icons/lists/light/arrow1_se.png); }
.icon-arrow2e-light { background-image: url(../img/icons/lists/light/arrow2_e.png); }
.icon-arrow3e-light { background-image: url(../img/icons/lists/light/arrow3_e.png); }
.icon-check-light { background-image: url(../img/icons/lists/light/check.png); }
.icon-close-light { background-image: url(../img/icons/lists/light/close.png); }
.icon-forward-light { background-image: url(../img/icons/lists/light/forward.png); }
.icon-stop-light { background-image: url(../img/icons/lists/light/stop.png); }
.icon-subtract-light { background-image: url(../img/icons/lists/light/subtract.png); }

.icon-date { background-image: url(../img/icons/date.png); background-position: 0; margin: -5px 0 0 -5px; }
.icon-comments { background-image: url(../img/icons/comments.png); background-position: 0; margin: -5px 0 0 -5px; }
.icon-preload { background-image: url(../img/loading.gif); width: 16px; height: 16px; background-position: 0; }
.icon-arrow-left { background-image: url(../img/icons/arrow_left.gif); width: 17px; height: 9px; background-position: 0; }
.icon-arrow-right { background-image: url(../img/icons/arrow_right.gif); width: 17px; height: 9px; background-position: 0; }
.icon-overview { background-image: url(../img/icons/overview.png); width: 18px; height: 9px; background-position: 0; }


/*  ====================================================================================
    06. 3rd Party
    ================================================================================= */

/* Masonry fix */
#content.blog-grid .content-wrapper { margin-left:-20px; margin-right:-20px; }

/* Flexslider */
.flexslider { border:0; margin:0; background:none; box-shadow:none; }
.flexslider ul li { margin:0; }
.compact-nav .flex-direction-nav a { background: url(../img/bg_direction_nav_light.png) no-repeat 0 0; }
.compact-nav .flex-direction-nav .flex-next,
.compact-nav .flex-direction-nav .flex-prev { bottom:-5px; top:auto; left:auto; opacity:1; }
.compact-nav .flex-direction-nav .flex-next { background-position:100% 0; right:-2px; }
.compact-nav .flex-direction-nav .flex-prev { right:17px; }
.flexslider.carousel { .transparent-background(#ffffff, 0.8); border-radius:0; padding:5px; }
.flexslider.carousel li { margin-right:5px; }
.flexslider.carousel img { margin-right:5px; cursor:pointer; }

/* Slider caption styles */
.slider-caption { background:#000; color:#fff; position:absolute; font-style:italic; text-shadow:none; padding:10px 13px !important; width:auto; }
.full-bottom-caption { overflow:hidden; bottom:0; left:0; width:100%; }
.full-top-caption { overflow:hidden; top:0; left:0; width:100%; }
.top-left-caption { top:0; left:0; }
.top-right-caption { top:0; right:0; }
.bottom-left-caption { bottom:0; left:0; }

/* Background slideshow */
#background-overlay { background-attachment:fixed; margin:0; padding:0; z-index:-1; position:fixed; top:0; left:0; width:100%; height:100%; }
#next-slide, #prev-slide { width:23px; height:23px; background:url('../img/bg_direction_nav_light.png') no-repeat; cursor:pointer; position:fixed; }
#prev-slide { background-position:0; right:0; bottom:0; }
#next-slide { background-position:-31px; right:0; bottom:23px; }
.half-slider { position:relative; top:0; left:0; width:100%; height:450px; z-index:-2; overflow:hidden; }
/* background video */
#background-video { margin:0; padding:0; z-index:-1; position:fixed; top:0; left:0; width:100%; height:100%; }
#tubular-container { z-index:-3 !important; }
#tubular-shield { z-index:-2 !important; }



/*  ====================================================================================
    07. Media Queries
    ================================================================================= */

/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {
    #main-nav { display:block; }
    .hentry { margin-bottom:40px; }
    li.jp-layout-progress { width:66%; }
    .lt-ie9 #content { margin-top:40px; }
}

@media only screen and (min-width: 1px) and (max-width: 1199px) {
    #main-nav .dropdown { float:none; display:none; position:static; clear:both; }
    .tinynav { display:block; height:100%; }
    #main-nav .nav-container { width:35px; border-radius:4px; border:1px solid #111; .box-shadow(inset 0px 1px 1px -1px #ffffff); overflow:hidden; background:#353535 url('../img/nav_toggle.png') center center no-repeat; height:auto; top:20px; bottom:20px; right:20px; position: absolute; }
    .lt-ie9 #content { margin-top:28px; }
}

/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #nav-toggle { margin-right:0; position:absolute; right:10px; bottom:10px; }
    .hentry { margin-bottom:28px; }
    .lt-ie9 #content { margin-top:28px; }
    ul.dropdown li a { padding-top:0 !important; }
}

/***** Wrapper for smaller resolutions (from smartphones up to landscape tablets) */
@media (min-width: 1px) and (max-width: 959px) {
    .top { margin-top:28px; }
    #main-nav .dropdown { float:none; display:none; clear:both; }
    .tinynav { display: block }
    .widget_search .horizontal-widgets { padding:10px; }
    #before-header, #before-loop, #after-loop { display:none; }
    #logo { margin-top:0; }
    #logo h1 { margin-bottom:10px; }
    ul.dropdown li a { padding-top:0 !important; }
    .half-slider { height:250px; }
    // .page-title { margin-top:72px !important; }
    // .slide-content .object { display:block; overflow:visible; }
    .slide-content .object, .slide-content .flexslider { max-height:350px; }
    .fullwidth-slide { height:650px; }
}

/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {
    .top { margin-top:28px; }
    #main-header .grid_12 { padding:10px; }
    #logo { width:100%; padding:10px; font-size:30px; }
    #logo img { width:140px !important; height:auto !important; }
    #tagline { width:70%; font-size:12px; display:block; margin:-5px 0 0 0 !important; }
    ul.dropdown li a { padding-top:0 !important; }
    #content.blog-grid .content-wrapper { margin-left:0; margin-right:0; }
    .lt-ie9 #content { margin-top:28px; }
    .page-template-template-custom-php h1 { font-size:40px; line-height:46px; }
    .page-template-template-custom-php #content { margin-top:0; }
    .row-fluid .span4 { margin-bottom:20px; }
    // .half-slider { height:200px !important; }
    // .page-title { margin-top:50px !important; }
    .slide-content { padding-top:100px; }
    .slide-content .grid_6 { height:auto; }
    // .fullheight-wrapper { display:block; }
    .fullwidth-slides .slides li { max-height:200px; }
}

/***** Retina *****/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .meta-caption { background-size:50px 50px; }
  .format-standard .meta.caption { background-image:url('../img/icons/format-standard2x.png'); }
  .format-aside .meta.caption { background-image:url('../img/icons/format-aside2x.png'); }
  .format-audio .meta.caption { background-image:url('../img/icons/format-audio2x.png'); }
  .format-gallery .meta.caption { background-image:url('../img/icons/format-gallery2x.png'); }
  .format-image .meta.caption { background-image:url('../img/icons/format-image2x.png'); }
  .format-link .meta.caption { background-image:url('../img/icons/format-link2x.png'); }
  .format-quote .meta.caption { background-image:url('../img/icons/format-quote2x.png'); }
  .format-video .meta.caption { background-image:url('../img/icons/format-video2x.png'); }
  .format-status .meta.caption { background-image:url('../img/icons/format-status2x.png'); }
}