// ------
// MIXINS
// ------

// ========================================================================
// #Typography
// ========================================================================


// @fontsize: defaults to 16 but you can pass in any value you want

// @lineheight defaults to 24 and will change depending on the size of your text.
// Working out the required line-height should be the only calculation you have to
// do and it's an easy one as it will always be a multiple of your default line-height
// and should always be equal to or larger than your font-size.
// So if your font-size is 12, line-height will be 24; if your font-size is 24, it'll
// be 24; if your font-size is 36, line-height will be 48; if it's 50, it'll be 72.

// @multiplier is used for larger font-sizes if you want the margin to be larger than a standard 1 line-height's worth which is the default. In most cases, the only value other than 1 you would use would be 2 and only for large headings.

// @lineheightreducer is used for text with a smaller font-size which won't look as good with such a large leading. Instead, use the reducer to bring it down to a more readable level. I've used 1.2 which will mean five lines of smaller text will fit into the space of four lines of normal text. I would tink you'd only need to use it for text sizes around 10px or 11px.

.font(@fontsize: @basefont, @lineheight: @baseline, @multiplier: 1, @lineheightreducer: 1) {
	font-size: (@fontsize/@basefont)*1em;
	line-height: @lineheight/@fontsize/@lineheightreducer;
	// .line-height(@fontsize, @lineheight, @lineheightreducer;
	
	// margin: 0 0 (@lineheight/@fontsize*(@multiplier/(@lineheight/@baseline)))*1em 0; }
	margin: 0 0 (@lineheight*(@multiplier/(@lineheight/@baseline)))*1px 0; }

// .line-height (@fontsize: @basefont, @lineheight: @baseline, @lineheightreducer: 1) {
// 	line-height: @lineheight/@fontsize/@lineheightreducer; }

.margin-top (@lines: 1) {
	margin-top: (@baseline*@lines)*1px; }

.margin-bottom (@lines: 1) {
	margin-bottom: (@baseline*@lines)*1px; }




// =========================================
//     Media Object Base
// =========================================
// TODO: Convert to Mixin
// .media, .caption {overflow:hidden; _overflow:visible; zoom:1;}
// .media .object {float:left;}
// .media .object img {display:block; vertical-align:text-top;}





#font {
  .sans-serif(@weight: normal, @size: 14px, @lineheight: 20px) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineheight;
  }
  .serif(@weight: normal, @size: 14px, @lineheight: 20px) {
    font-family: "Georgia", Times New Roman, Times, sans-serif;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .monospace(@weight: normal, @size: 12px, @lineheight: 20px) {
    font-family: "Monaco", Courier New, monospace;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineheight;
  }
}

.transparent-background (@color, @fade) {
    // background-color: transparent;
    // background-color: @color;
    // background-color: fadeout(@color, 100-@fade*100);
    // @rgbahex: ~`function(color, fade){var t = (Math.round(255*fade)).toString(16).toUpperCase();t=t.length==1?'0'+t:t;return '#'+t+color.substr(1)}("@{color}","@{fade}")`;
    

    // // filter:  ~'progid:DXImageTransform.Microsoft.gradient(startColorstr=@{rgbahex}, endColorstr=@{rgbahex},GradientType=0)';
    // -ms-filter: ~'"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{rgbahex}, endColorstr=@{rgbahex})"'; // IE8 
    // filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{rgbahex},endColorstr=@{rgbahex})";
    // zoom: 1;
}

.transparent-background (@colour, @alpha) {
    @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
    @ieAlphaColour: argb(@alphaColour);
     
    background-color: @colour; // Fallback for older browsers
    background-color: @alphaColour; 
     
    // IE hacks
    // filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{ieAlphaColour}', EndColorStr='@{ieAlphaColour}')";
    // background-color: transparent\9;
    // -ms-filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 8+
        // filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 6 & 7
    // zoom: 1; // hasLayout
     
}

.gradient-background (@from, @to) {
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{from}', endColorstr='@{to}')";
	background: -webkit-linear-gradient(top, @from, @to);
	background:    -moz-linear-gradient(top, @from, @to);
	background: 	 -o-linear-gradient(top, @from, @to);
	background: 	-ms-linear-gradient(top, @from, @to);
	background: 		linear-gradient(top, @from, @to); }

// .border-radius (@radius) {
// 	-webkit-border-radius: @radius;
// 	   -moz-border-radius: @radius;
// 	        border-radius: @radius; }

.rounded(@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

// .box-shadow (@h_shadow1, @v_shadow1, @color1, 
// 			 @h_shadow2, @v_shadow2, @color2) {
// 	-webkit-box-shadow: @inset1 @h_shadow1 @v_shadow1 @color1, @inset2 @h_shadow2 @v_shadow2 @color2;
//     -moz-box-shadow: @inset1 @h_shadow1 @v_shadow1 @color1, @inset2 @h_shadow2 @v_shadow2 @color2;
//     box-shadow: 0 @h_shadow1 @v_shadow1 @color1, inset 0 @h_shadow2 @v_shadow2 @color2;
// }




.translucent-background (@r, @g, @b, @alpha, @next: all) {
    @hex-r: ~`(parseInt("@{r}").toString(16)).length < 2 ? parseInt("@{r}").toString(16)+parseInt("@{r}").toString(16) : parseInt("@{r}").toString(16)`;
    @hex-g: ~`(parseInt("@{g}").toString(16)).length < 2 ? parseInt("@{g}").toString(16)+parseInt("@{g}").toString(16) : parseInt("@{g}").toString(16)`;
    @hex-b: ~`(parseInt("@{b}").toString(16)).length < 2 ? parseInt("@{b}").toString(16)+parseInt("@{b}").toString(16) : parseInt("@{b}").toString(16)`;
    @hex: ~`"@{hex-r}@{hex-g}@{hex-b}"`;
    .set-alpha(@next, @hex, @alpha);
}
.set-alpha (all, @hex, @alpha) {
    @hex-hash: ~`"#@{hex}"`;
    background: @hex-hash;
    background: rgba(@r, @g, @b, @alpha);
}
.set-alpha (ie8, @hex, @alpha) {
    @alphahex: `Math.floor("@{alpha}" * 255).toString(16)`;
    background: transparent;
    -ms-filter: ~'"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{alphahex}@{hex}, endColorstr=#@{alphahex}@{hex})"';
}
.set-alpha (ie7, @hex, @alpha) {
    @alphahex: `Math.floor("@{alpha}" * 255).toString(16)`;
    background: transparent;
    filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{alphahex}@{hex}, endColorstr=#@{alphahex}@{hex})";
}



// Reset filters for IE
.reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}








// Buttons
// .button(@color: #f5f5f5, @textColor: #333, @textShadow: 0 1px 1px rgba(255,255,255,.75), @fontSize: 13px, @padding: 9px 15px 10px, @rounded: 6px) {
//   display: inline-block;
//   .gradient(@color,darken(saturate(@color,10),10));
//   padding: @padding;
//   text-shadow: @textShadow;
//   color: @textColor;
//   font-size: @fontSize;
//   line-height: 20px;
//   .rounded(6px);
//   @shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.25);
//   .box-shadow(@shadow);
//   &:hover {
//     background-position: 0 -15px;
//     color: @textColor;
//     text-decoration: none;
//   }
// }


// a.button {
//   .button();
//   &.purple {
//     .button(@purple,#fff,0 -1px 1px rgba(0,0,0,.4));
//   }
//   &.blue {
//     .button(@blue,#fff,0 -1px 1px rgba(0,0,0,.4));
//   }
// }
















// =========================================
//     Buttons
// =========================================

// Middle tone buttons
.make-button (@color) when (lightness(@color) >= 50%) {
	color: mix(@color, #000, 50%);
	text-shadow: 0 1px 0 mix(@color, #fff, 65%); }

// Light tone buttons
.make-button (@color) when (lightness(@color) >= 80%) {
	color: #555;
	text-shadow: 0 1px 0 mix(@color, #fff, 65%); }

// Dark tone buttons
.make-button (@color) when (lightness(@color) < 50%) {
	color: #fff;
	text-shadow: 0 1px 0 mix(@color, #000, 30%); }

// All buttons
.make-button (@color) {
	background: @color;
	border-color: desaturate(darken(@color, 10%), 20%) desaturate(darken(@color, 15%), 20%) desaturate(darken(@color, 25%), 20%) desaturate(darken(@color, 15%), 20%);
  .gradient-background(lighten(@color, 3%), darken(@color, 7%));
	.border-radius(3px);

	// @color1: ;
	.box-shadow(~"0 1px 1px fadeout(#000, 90%), inset 0 1px 0 lighten(@color, 10%)");
	// .box-shadow(fadeout(#000, 90%), lighten(@color, 10%));

	&:hover {
		.gradient-background(darken(@color, 3%), lighten(@color, 0.2%));
		border-color: desaturate(darken(@color, 15%), 20%) desaturate(darken(@color, 20%), 20%) desaturate(darken(@color, 25%), 20%) desaturate(darken(@color, 20%), 20%);
	}
}


// =========================================
//     Effects
// =========================================

// .box-shadow (@color1, @color2) {
// 	box-shadow: 0 1px 1px @color1, inset 0 1px 0 @color2; }

.colorize-bg(@color: #fff, @alpha: 1) {
    background: hsla(hue(@color), saturation(@color), lightness(@color), @alpha); }



// =========================================
//     Transform
// =========================================
// Implementation 
// #someDiv {
// 	.transform(5deg, 0.5, 1deg, 0px);
// }

.transform (@rotate: 90deg, @scale: 1, @skew: 1deg, @translate: 10px) {
	-webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	   -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
		  -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
		   -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
			    transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate); }


// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

// Transformations
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
     -moz-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
      -ms-transform: scale(@ratio);
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.translate(@x: 0, @y: 0) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.skew(@x: 0, @y: 0) {
  -webkit-transform: skew(@x, @y);
     -moz-transform: skew(@x, @y);
      -ms-transform: skew(@x, @y);
       -o-transform: skew(@x, @y);
          transform: skew(@x, @y);
}
.translate3d(@x: 0, @y: 0, @z: 0) {
  -webkit-transform: translate(@x, @y, @z);
     -moz-transform: translate(@x, @y, @z);
      -ms-transform: translate(@x, @y, @z);
       -o-transform: translate(@x, @y, @z);
          transform: translate(@x, @y, @z);
}

.box-sizing(@behavior) {
  -webkit-box-sizing: @behavior;
     -moz-box-sizing: @behavior;
      -ms-box-sizing: @behavior;
          box-sizing: @behavior;
}

.perspective(@value: 1000) {
  -webkit-perspective: @value;
     -moz-perspective: @value;
      -ms-perspective: @value;
          perspective: @value;
}

.transform-origin(@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
     -moz-transform-origin: @x @y;
      -ms-transform-origin: @x @y;
       -o-transform-origin: @x @y;
}

// =========================================
//     Complementary Colour Scheme
// =========================================
// @base: #663333;
// @complement1: spin(@base, 180);
// @complement2: darken(spin(@base, 180), 5%);
// @lighten1: lighten(@base, 15%);
// @lighten2: lighten(@base, 30%);
 
// // Implementation 
// .one   {background: @base;}
// .two   {background: @complement1;}
// .three {background: @complement2;}
// .four  {background: @lighten1;}
// .five  {background: @lighten2;}





// MIXIN: rgba backgrounds for all browsers
// pass in each rgba values separately and the IE uglies are calculated and spit out
// Use like so: .mixin--rgbabg(243,123,77,.1);
// Lots of thanks to source at: http://kilianvalkhof.com/2010/css-xhtml/how-to-use-rgba-in-ie/
.mixin--rgbabg(@r, @g, @b, @a){
  @rgba: rgba(@r,@g,@b,@a);
  @rgb: rgb(@r,@g,@b);

  @r2: ~`Math.min(Math.max(0,parseInt("@{r}")),255)`;
  @hexr: ~`"0123456789ABCDEF".charAt(("@{r2}"-"@{r2}"%16)/16) + "0123456789ABCDEF".charAt("@{r2}"%16)`;

  @g2: ~`Math.min(Math.max(0,parseInt("@{g}")),255)`;
  @hexg: ~`"0123456789ABCDEF".charAt(("@{g2}"-"@{g2}"%16)/16) + "0123456789ABCDEF".charAt("@{g2}"%16)`;

  @b2: ~`Math.min(Math.max(0,parseInt("@{b}")),255)`;
  @hexb: ~`"0123456789ABCDEF".charAt(("@{b2}"-"@{b2}"%16)/16) + "0123456789ABCDEF".charAt("@{b2}"%16)`;

  @a2: ~`Math.min(Math.max(0,parseInt("@{a}"*255)),255)`;
  @hexa: ~`"0123456789ABCDEF".charAt(("@{a2}"-"@{a2}"%16)/16) + "0123456789ABCDEF".charAt("@{a2}"%16)`;

  background-color: rgba(@r,@g,@b,@a);

  -ms-filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{hexa}@{hexr}@{hexg}@{hexb},endColorstr=#@{hexa}@{hexr}@{hexg}@{hexb})";
  filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{hexa}@{hexr}@{hexg}@{hexb},endColorstr=#@{hexa}@{hexr}@{hexg}@{hexb})";
  zoom: 1;
}

// This will be more elegant in LESS 1.4
// Use like so: .mixin--rgbabg-string(rgba(243,123,77,.1));
.mixin--rgbabg-string(@rgba){
  @pos1:~`"@{rgba}".indexOf(",")`;
  @red:~`"@{rgba}".substring("@{rgba}".indexOf("(")+1,"@{pos1}")`;
  @pos2:~`"@{rgba}".indexOf(",",parseInt("@{pos1}")+1)`;
  @green:~`"@{rgba}".substring(parseInt("@{pos1}")+2,"@{pos2}")`;
  @pos3:~`"@{rgba}".indexOf(",",parseInt("@{pos2}")+1)`;
  @blue:~`"@{rgba}".substring(parseInt("@{pos2}")+2,"@{pos3}")`;
  @alpha:~`"@{rgba}".substring(parseInt("@{pos3}")+2,"@{rgba}".indexOf(")"))`;

  //content: ~`"@{rgba}" + "!" + "@{red}" + "!" + "@{pos1}" + "!" + "@{pos2}" + "!" + "@{green}" + "!" + "@{blue}" + "!" + "@{alpha}"`;
  //copied from above
  @r2: ~`Math.min(Math.max(0,parseInt("@{red}")),255)`;
  @hexr: ~`"0123456789ABCDEF".charAt(("@{r2}"-"@{r2}"%16)/16) + "0123456789ABCDEF".charAt("@{r2}"%16)`;

  @g2: ~`Math.min(Math.max(0,parseInt("@{green}")),255)`;
  @hexg: ~`"0123456789ABCDEF".charAt(("@{g2}"-"@{g2}"%16)/16) + "0123456789ABCDEF".charAt("@{g2}"%16)`;

  @b2: ~`Math.min(Math.max(0,parseInt("@{blue}")),255)`;
  @hexb: ~`"0123456789ABCDEF".charAt(("@{b2}"-"@{b2}"%16)/16) + "0123456789ABCDEF".charAt("@{b2}"%16)`;

  @a2: ~`Math.min(Math.max(0,parseInt("@{alpha}"*255)),255)`;
  @hexa: ~`"0123456789ABCDEF".charAt(("@{a2}"-"@{a2}"%16)/16) + "0123456789ABCDEF".charAt("@{a2}"%16)`;

  background-color: @rgba;

  -ms-filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{hexa}@{hexr}@{hexg}@{hexb},endColorstr=#@{hexa}@{hexr}@{hexg}@{hexb})";
  filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{hexa}@{hexr}@{hexg}@{hexb},endColorstr=#@{hexa}@{hexr}@{hexg}@{hexb})";
  zoom: 1;
}






// =========================================
//     Transparent Background
// =========================================
// .transparent-background (@r, @g, @b, @alpha, @next: all) {
//     @hex-r: ~`(parseInt("@{r}").toString(16)).length < 2 ? parseInt("@{r}").toString(16)+parseInt("@{r}").toString(16) : parseInt("@{r}").toString(16)`;
//     @hex-g: ~`(parseInt("@{g}").toString(16)).length < 2 ? parseInt("@{g}").toString(16)+parseInt("@{g}").toString(16) : parseInt("@{g}").toString(16)`;
//     @hex-b: ~`(parseInt("@{b}").toString(16)).length < 2 ? parseInt("@{b}").toString(16)+parseInt("@{b}").toString(16) : parseInt("@{b}").toString(16)`;
//     @hex: ~`"@{hex-r}@{hex-g}@{hex-b}"`;
    
//     background: transparent;
//     @alphahex: `Math.floor("@{alpha}" * 255).toString(16)`;
//     -ms-filter: ~'"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{alphahex}@{hex}, endColorstr=#@{alphahex}@{hex})"'; /* IE8 */
//     filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{alphahex}@{hex}, endColorstr=#@{alphahex}@{hex})"; /* IE7 */

//     .set-alpha(@next, @hex, @alpha);
// }
// .set-alpha (all, @hex, @alpha) {
//     @hex-hash: ~`"#@{hex}"`;
//     background: @hex-hash;
//     background: rgba(@r, @g, @b, @alpha);
// }
// .set-alpha (ie8, @hex, @alpha) {
//     @alphahex: `Math.floor("@{alpha}" * 255).toString(16)`;
//     background: transparent;
//     -ms-filter: ~'"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{alphahex}@{hex}, endColorstr=#@{alphahex}@{hex})"';
// }
// .set-alpha (ie7, @hex, @alpha) {
//     @alphahex: `Math.floor("@{alpha}" * 255).toString(16)`;
//     background: transparent;
//     filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{alphahex}@{hex}, endColorstr=#@{alphahex}@{hex})";
// }


// .transparent-background (@r, @g, @b, @alpha, @next: all) {
//     @hex-r: ~`(parseInt("@{r}").toString(16)).length < 2 ? parseInt("@{r}").toString(16)+parseInt("@{r}").toString(16) : parseInt("@{r}").toString(16)`;
//     @hex-g: ~`(parseInt("@{g}").toString(16)).length < 2 ? parseInt("@{g}").toString(16)+parseInt("@{g}").toString(16) : parseInt("@{g}").toString(16)`;
//     @hex-b: ~`(parseInt("@{b}").toString(16)).length < 2 ? parseInt("@{b}").toString(16)+parseInt("@{b}").toString(16) : parseInt("@{b}").toString(16)`;
//     @hex: ~`"@{hex-r}@{hex-g}@{hex-b}"`;
//     .set-alpha(@next, @hex, @alpha);
// }
// .set-alpha (all, @hex, @alpha) {
//     @hex-hash: ~`"#@{hex}"`;
//     background: @hex-hash;
//     background: rgba(@r, @g, @b, @alpha);
// }
// .set-alpha (ie8, @hex, @alpha) {
//     @alphahex: `Math.floor("@{alpha}" * 255).toString(16)`;
//     background: transparent;
//     -ms-filter: ~'"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{alphahex}@{hex}, endColorstr=#@{alphahex}@{hex})"';
// }
// .set-alpha (ie7, @hex, @alpha) {
//     @alphahex: `Math.floor("@{alpha}" * 255).toString(16)`;
//     background: transparent;
//     filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#@{alphahex}@{hex}, endColorstr=#@{alphahex}@{hex})";
// }
