/* Editor styles */
/* ----------------------------------------------------- */
.page-template-template-custom-php h1 { font-size:68px; line-height:80px; }
.header-alignleft { float:left; clear:both; }
.header-alignright { float:right; clear:both; }
.header-aligncenter { text-align:center; clear:both; margin-left:auto; margin-right:auto; }
.header-alignleft a, .header-alignright a, .header-aligncenter a { color:#d7332f; }
.black-highlight { color:#fff; background-color: #000000; background-color: rgba(0, 0, 0, 0.7); padding: 15px 20px !important; }
.white-highlight { color:#000; background-color: #ffffff; background-color: rgba(255, 255, 255, 0.9); padding: 15px 20px !important; }
.black-text-shadow { text-shadow: 0 1px 0 #000; }
.white-text-shadow { text-shadow: 0 1px 0 #fff; }

.button, a.button, button, input[type="submit"] { border: 0; background-color: #333; color: #fff; font: 13px/13px sans-serif; display: inline-block; padding: 11px; text-align: center; text-decoration: none; text-transform: uppercase; text-shadow: 0 1px 0 #000; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -ms-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; }
.button:hover, a.button:hover, button:hover, input[type="submit"]:hover { background-color: #d7332f; }
.button a { color: #fff; }