.yo-google_fonts { height:40px; }

.yo-google_fonts select,
.yo-google_fonts .chzn-container {
	float:left;
	display:inline-block;
	margin-right:2%;
}

.yo-fonts-preview {
	width:56%;
	font-size:24px;
	float:left;
	line-height:24px;
	margin-top:3px;
	text-indent: 0;
	display:none;
}

.yo-font-loading {
	background:url('../../assets/img/loading2.gif') left top no-repeat;
	/*text-indent: -9999px;*/
	/*padding-right:20px;*/
	min-height:35px;
}


.yo-google_fonts .yo-chosen .yo-control { width:100%; }
.yo-google_fonts .chzn-container { width:42% !important; }
