// ===============================================================
// Configuration Variables
// ===============================================================

// The rhythm multiplier
@ratio: 1.618;

// Base font-size in pixels
@basefont: 14;

// Get the font percentage assuming the default 16px
@bodysize: ((@basefont*100)/16);

// Calculate the base line-height
@baseline: round(@basefont * @ratio);

// Links color
@links_color: #ff9900;

// Selection color
@selection_color: #fe57a1;



// ===============================================
//    Grid Configuration
// ===============================================

// Common Breakpoints:

// 320 px — Smartphones portrait
// 480 px — Smartphones landscape
// 600 px — Small tablet
// 768 px — Tablet portrait
// 1024 px — Tablet landscape/Netbook
// 1280 px & greater — Desktop


// Smartphones
@stage1: 300px;
@stage1_max: 479px;

// Portrait tablets
@stage2: 460px;
@stage2_min: 480px;
@stage2_max: 767px;

//Landscape tablets
@stage3: 720px;
@stage3_min: 768px;
@stage3_max: 979px;

// Standard screens
@stage4: 960px;
@stage4_min: 980px;
@stage4_max: 1200px;

// Large screens
@stage5: 1140px;
@stage5_min: 1201px;

// Columns Gutter (odd number)
@gutter: 16px;


