/* Uploaded image */
.yo-images {
	overflow: hidden;
}
.yo-images li {
	margin: 0 10px 10px 0;
	float: left;
	width: 150px;
	height: 150px;
	text-align: center;
	border: 3px solid #ccc;
	cursor: move;
	position: relative;
}
.yo-images img {
	width: 150px;
	height: 150px;
}
.yo-image-bar {
	color: #fff;
	font-weight: bold;
	background: #000;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
}
.yo-image-bar a {
	color: #fff;
	font-weight: bold;
}
