div.yo-drag-drop {
	border: 4px dashed #ddd;
}
div.yo-drag-drop-inside {
	margin: 50px auto;
}
div.yo-drag-drop-inside p {
	text-align: center;
	display: block;
	font-size: 20px;
	margin: 5px 0;
	color: #aaa;
}

div.yo-image-uploading-bar {
	position: absolute;
	width: 100%;
	height: 0%;
	bottom: 0;
}

div.yo-image-uploading-status {
	position: absolute;
}

li.yo-image-error {
	border: 3px solid #c00;
	background: #903838;
}
.yo-image-uploading-status .yo-loader {
	width: 64px;
	height: 64px;
	top: 43px;
	left: 43px;
	position: relative;
}
