.yo-drag-drop-area .drag-drop-inside {
	border: 4px dashed #ededed;
	margin:0;
	width:auto;
	padding:10px;
}

.drag-over .yo-drag-drop-area {
	background-color: lightYellow;
}

.drag-over .yo-drag-drop-area .drag-drop-inside {
	border-color:#83b4d8;
}

/*.yo-custom-thumbs .yo-text { display:none; }*/
.yo-tooltip { 
	background:#f4f4f4;
	border-radius:4px;
	/*border:1px solid #ccc;*/
	border:5px solid #333;
	padding:10px 10px 14px 10px;
	width:244px;
	position:absolute;
	/*left:15px;*/
	left:-30px;
	bottom:40px;
	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ebebeb');
}
.yo-tooltip-item { display:none; margin:0 10px 10px 0; }
.yo-tooltip-item .yo-control, .yo-tooltip-item .yo-label { width:auto; }




.yo-custom-thumbs .yo-clone { float:left; border:0; width:150px; margin:0 15px 15px 0; padding:0; position:relative; }
.yo-custom-thumbs .yo-dropped-items { width:100%; clear:both; float:none; }


.drag-drop .drag-drop-inside p, .drag-drop-inside p.drag-drop-buttons { clear:both; }

.yo-clone .yo-thumbs-bar {
	position:absolute;
	bottom:20px;
	left:5px;
	padding:3px;
	visibility: hidden;
	opacity:0;
	-webkit-transition: visibility linear 0.3s, opacity linear 0.3s;
	   -moz-transition: visibility linear 0.3s, opacity linear 0.3s;
		-ms-transition: visibility linear 0.3s, opacity linear 0.3s;
		 -o-transition: visibility linear 0.3s, opacity linear 0.3s;
			transition: visibility linear 0.3s, opacity linear 0.3s;
}

.yo-clone:hover .yo-thumbs-bar {
	visibility: visible;
	opacity:1;
}

.yo-button.small img { margin-bottom:-2px; }
.yo-delete-thumb.small { margin-left:3px; }



.yo-receiver .yo-control {
	width:150px;
	height:150px;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	border:5px solid #fff; 
	outline:1px solid #ddd;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    	    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
   	background:url(../../assets/img/loading2.gif) center center no-repeat;
}

.yo-receiver .yo-control > img {
vertical-align: middle;

}

/*.yo-receiver .yo-control { 
	-webkit-box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.5);
    	    box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.5);
}*/

/*.drag-over */.yo-thumb-over { opacity:0.5; }


.yo-media-item {
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}


[id^="yo-loading"] {
	position:absolute;
	bottom:20px;
	left:5px;
	width:100%;	
}

.yo-progress { background:#c8c8c8; }
.yo-progress-bar { height:30px; width:0; background:#ccc; }
.yo-percent { position:absolute; top:8px; left:10px; text-shadow: 0 1px 0 #fff; font-weight:bold; }

